@media only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .mobile-only {
    display: block; }
  .desktop-only {
    display: none; }
  nav {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 3;
    padding: 5% 7%; }
  main {
    width: 100%;
    z-index: 2; } }

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .mobile-only {
    display: block; }
  .desktop-only {
    display: none; }
  nav {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 3;
    padding: 5% 7%; }
  main {
    width: 100%;
    z-index: 2; } }

@media only screen and (max-width: 1400px) {
  #footer > div {
    clear: both; }
  #footer #made-cont {
    float: left; } }

@media only screen and (max-width: 960px) {
  .mobile-only {
    display: block; }
  .desktop-only, #nav-toggle + label {
    display: none; }
  main {
    padding-bottom: 50px;
    width: 100%;
    z-index: 2;
    height: auto;
    position: relative;
    clear: both; }
    main .post-excerpt {
      margin-top: 0.8rem;
      margin-bottom: 0.8rem; }
    main .post-title {
      font-size: 1.25rem;
      margin-bottom: 0;
      margin-top: 0.3rem; }
    main .post-list .post-preview a, main #content {
      padding: 1.25rem; }
  #footer > div {
    clear: none; }
  #footer #made-cont {
    float: right;
    margin: 0; }
  nav {
    background: #f8cbcb;
    width: 100%;
    padding: 0.7rem 1rem;
    height: auto;
    border-bottom: 1px solid #000;
    border-right: 0;
    position: relative;
    margin-top: -2px; }
    .scrolling nav {
      position: fixed;
      top: 0; }
      .scrolling nav p {
        display: none; }
    nav #nav-container {
      margin: 0; }
    nav ul {
      padding: 0;
      margin: 0; }
      nav ul:after {
        height: 100%; }
      nav ul li {
        display: inline-block;
        padding: 0 0.5rem;
        background: transparent; }
        nav ul li:first-child {
          padding-left: 0; }
        nav ul li a {
          font-size: 1rem;
          transition: none;
          padding: 0;
          background-image: none; }
          nav ul li a:before, nav ul li a:after {
            content: none; }
          nav ul li a span {
            display: none; }
    nav p {
      padding: 0;
      margin: 0 0 0.3rem;
      font-size: 1rem; }
  #footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    font-family: 'Karla', sans-serif;
    z-index: 2;
    height: 3em;
    background: #f9e4e4;
    border-top: 1px solid #f8cbcb; }
  #posts {
    overflow-y: auto;
    padding-bottom: 3.5em; }
  #footer #social-media, #footer #made-cont {
    clear: none; }
  #footer #social-media {
    margin-top: -0.25rem;
    float: left; }
  #footer #made-cont {
    float: right; }
  .row .resp {
    display: table; }
    .row .resp ul {
      display: table-footer-group; }
    .row .resp p {
      display: table-header-group;
      line-height: 5vmin; } }
