---
layout: default
title: Resume
type: resume
---
<div id="resume">
	<div class="post">
		<h1>Antoinette Janus</h1>
		<h3> JavaScript-based Full-Stack Developer <span class="screen">|</span><span class="printable">based in</span> Seattle, Washington<span class="screen"> | </span><a href="mailto:acj.gfx@gmail.com">E-mail</a><span class="printable">acj.gfx@gmail.com | (703) 470-7607</span></h3>
		<h3 class="res-cat"><b>Experience</b></h3>
		<div class="row">
			{% for exp in site.data.experiences %}
				{% include single_experience.html exp=exp %}
			{% endfor %}
		</div>
		<h3 class="res-cat"><b>Skills</b></h3>
		<div class="row" id="skills">
			<div class="exp">
				<div class="resp">
					<ul>
						<li>HTML, CSS/SCSS</li>
						<li>Wordpress/Craft</li>
						<li>JavaScript/jQuery</li>
						<li>JavaScript frameworks (React/Redux, Vue/Vuex)</li>
						<li>GraphQL/Apollo</li>
						<li>NodeJS</li>
						<li>Testing Frameworks (Jasmine, Mocha)</li>
					</ul>
				</div>
				<div class="resp">
					<ul>
						<li>Gulp/Grunt</li>
						<li>Adobe Creative Suite</li>
						<li>Github, Bitbucket</li>
						<li>Rails/Ruby</li>
						<li>APIs: Consumption and development</li>
						<li>PHP</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>