<input id="nav-toggle" type="checkbox"/>
<label for="nav-toggle" class="desktop-only"></label>
<nav>
  <div id="nav-container">
    <p>Hello. My name is <a href="/bio" name="Antoinette Janus"><b>Antoinette Janus</b></a>. I'm a developer and designer based in Washington, D.C.</p>
    <ul role="navigation">
      <li>
        <a data-linktext="Home" name="Go To Home." {% if page.title == "Home" %}class="active"{% endif %} href="/">Home<span>&nbsp;»</span></a>
      </li>
      <li>
        <a data-linktext="Resume" name="Go To Antoinette's Resume." {% if page.title == "Resume" %}class="active"{% endif %} href="/resume">Resume<span>&nbsp;»</span></a>
      </li>
      <li>
        <a data-linktext="Bio" name="Go To Antoinette's Bio." {% if page.title == "Bio" %}class="active"{% endif %} href="/bio">Bio<span>&nbsp;»</span></a>
      </li>
      <li>
        <a data-linktext="Blog" name="Go To Blog." {% if page.title == "Blog" %}class="active"{% endif %} href="/blog">Blog<span>&nbsp;»</span></a>
      </li>
      <li>
        <a data-linktext="Works" name="Go To Works." {% if page.title == "Works" %}class="active"{% endif %} href="/works">Works<span>&nbsp;»</span></a>
      </li>
    </ul>
  </div>
  {% include footer.html %}
</nav>