@import 'colors';
@import 'heart';
.post-title {
  font-family: 'Karla', serif;
  text-decoration: none;
  color: black;
  font-weight: 700;
  span {
    &:before, &:after {
      display: inline-block;
      font-size: 0.8rem;
      line-height: 0.4rem;
      vertical-align: top;
    }
    &:before {
      // @include heart(2, $link_pink);
      content: '♥ ';
      margin: 0.8rem 0 0 0.8rem;
      color: $link_pink;
      font-size: 0.7rem;
    }
    &:after {
      content: 'UNREAD';
      margin: 0.75rem 0 0 0.2rem;
    }
  }
}
.post-list {
  margin: 0;
  padding: 0;
  list-style: none; 
  background: #FFF;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  .post-preview {
    background: #FFF;
    border-bottom: 1px solid $blush_pink;
    a {
      color: #000;
      background: transparent;
      padding: 1.25rem 1.75rem;
      &:visited {
        :before, :after {
          color: white;
          box-shadow: none;
        }
      }
    }
    &:hover {
      background: $blush_pink;
      :visited {
        :before, :after {
          color: $blush_pink;
          box-shadow: none;
        }
      }
    }
  }
}