@import 'colors';
.post-title {
  font-family: 'Karla', serif;
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.post-list {
  margin: 0;
  padding: 0;
  list-style: none; 
  background: #FFF;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  .post-preview {
    background: #FFF;
    border-bottom: 1px solid $blush_pink;
    a {
      color: #000;
      background: transparent;
      padding: 1.25rem 1.75rem;
    }
  }
}