@import 'colors';
#content {
  padding: 1.25rem 1.5rem 1.25rem 2.25rem;
  background: white;
  h1, h2, h3 {
    font-family: 'Karla', sans-serif;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.2rem;
    + p {
      margin-top: 0;
    }
  }
  p:first-of-type::first-letter {
    float: left; 
    color: #f8cbcb; 
    font-size: 4em; 
    line-height: 0.8em; 
    padding-right: 0.3rem;
    padding-left: 0px;
    font-family: "Karla", sans-serif;
    font-weight: 700;
  }
  .post-img {
    max-width: 400px;
    max-height: 300px;
    position: relative;
    float: left;
    margin: 0 20px 20px 0;
    border: 1px solid #000;
    line-height: 0;
    overflow: hidden;
    img {
      max-width: 100%;
      max-height: 100%;
    }
    span {
      font-family: 'Karla', sans-serif;
      position: absolute;
      display: inline-block;
      padding: 5px 8px;
      bottom: 0;
      right: 0;
      background: #000;
      color: #FFF;
      line-height: 1;
    }
  }
  p {
    font-size: 0.9em;
  }
  pre {
    border: 1px solid #9b9b9b;
    padding: 0.5rem;
  }
}