---
layout: default
type: post-listing
---
<ul class="post-list">
{% for post in site.categories[{{page.genre}}] %}
  {% assign tab_index = forloop.index %}
    <li class="post-preview">
        <a href="{{ post.url | prepend: site.baseurl }}" tabindex="{{ tab_index |plus: 9 }}">
            <h2 class="post-title">
                {{ post.title }}
            </h2>
            <p class="post-meta">Posted on {{ post.date | date: "%B %-d, %Y" }}</p>
            <p class="post-excerpt">{{ post.excerpt }}</p>
        </a>
    </li>
{% endfor %}
</ul>